@use '../base/variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*::before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
p{
    font-size: 2rem;
    line-height: 1.5;
    color: v.$negro;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

h1,h2,h3,h4{
    margin: 0;
}