//Tipogrfia
$fuente_principal:'Roboto', sans-serif;
;

//colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo:#FEF46E;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$blanco2: #DDDDDD;
$gris: #6B728E;
$oscuro: #161616;
 
// Tamaños de mq
$telefono: 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;